{% extends 'base.html.twig' %}

{% import 'macros/links.html.twig' as links %}

{% block body %}
    <h2>{{ 'login.title'|trans }}</h2>

    {{ form(form) }}

    <div class="blockLinks">
        {{ links.forgotten_password('login.link.forgotten_password'|trans, path('app_home_forgotten_password')) }}
    </div>
{% endblock %}
